<h1>Tipo de Material</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Nome:</strong>
	  <%= @tipo_material.nome %>
	</p>
  </div>
</div>

<%= link_to 'Editar', edit_tipo_material_path(@tipo_material) %> |
<%= link_to 'Voltar', tipo_materials_path %>
