<br />
<div class="jumbotron">
  <p>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/acabamentos">Acabamento</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/colecaos">Coleção</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/cors">Cor</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/fabricantes">Fabricante</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/faixa_etarias">Faixa Etária</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/fio_titulos">Fio Título</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/ligamentos">Ligamento</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/materia_primas">Matéria Prima</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/padronagem_designs">Padronagem Design</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/tamanhos">Tamanho</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/tecnica_designs">Técnica Design</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/texturas">Textura</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/tipo_bandeiras">Tipo de Bandeira</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/tipo_item_variados">Tipo de Item Variado</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/tipo_materials">Tipo de Material</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/tipo_suportes">Tipo de Suporte</a>
  	<a type="button" class="btn btn-primary btn-lg btn-block" href="/uso_tecidos">Uso do Tecido</a>
  </p>
</div>
