<br />
<div class="jumbotron">
  <p>
  	<a href="/acabamentos">Acabamento</a>
  </p>
  <p>
  	<a href="/colecaos">Coleção</a>
  </p>
  <p>
  	<a href="/cors">Cor</a>
  </p>
  <p>
  	<a href="/fabricantes">Fabricante</a>
  </p>
  <p>
  	<a href="/faixa_etarias">Faixa Etária</a>
  </p>
  <p>
  	<a href="/fio_titulos">Fio Título</a>
  </p>
  <p>
  	<a href="/ligamentos">Ligamento</a>
  </p>
  <p>
  	<a href="/materia_primas">Matéria Prima</a>
  </p>
  <p>
  	<a href="/padronagem_designs">Padronagem Design</a>
  </p>
  <p>
  	<a href="/tamanhos">Tamanho</a>
  </p>
  <p>
  	<a href="/tecnica_designs">Técnica Design</a>
  </p>
  <p>
  	<a href="/texturas">Textura</a>
  </p>
  <p>
  	<a href="/tipo_bandeiras">Tipo de Bandeira</a>
  </p>
  <p>
  	<a href="/tipo_item_variados">Tipo de Item Variado</a>
  </p>
  <p>
  	<a href="/tipo_materials">Tipo de Material</a>
  </p>
  <p>
  	<a href="/tipo_suportes">Tipo de Suporte</a>
  </p>
  <p>
  	<a href="/uso_tecidos">Uso do Tecido</a>
  </p>
</div>
