<h1>Bandeira</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Tipo:</strong>
	  <%= @tipo_bandeira.tipo %>
	</p>
  </div>
</div>

<%= link_to 'Editar', edit_tipo_bandeira_path(@tipo_bandeira) %> |
<%= link_to 'Voltar', tipo_bandeiras_path %>
