<br />
<div class="jumbotron">
  <h1>Olá!</h1>
  <p>Este sistema permite a busca de informações de catálogos e bandeiras da tecidoteca da EACH-USP.</p>
  <p><a class="btn btn-primary btn-lg" target="_blank" href="http://each.uspnet.usp.br/site/biblioteca.php?item=tecidoteca" role="button">Saiba Mais</a></p>
</div>
