<br />
<div class="jumbotron">
  <h1>Olá!</h1>
  <p>Este sistema permite a busca de informações de catálogos e bandeiras da tecidoteca.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba Mais</a></p>
</div>
