<h1>Cor</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Nome:</strong>
	  <%= @cor.nome %>
	</p>
  </div>
</div>

<%= link_to 'Editar', edit_cor_path(@cor) %> |
<%= link_to 'Voltar', cors_path %>
