<h1>Matéria Prima</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Nome:</strong>
	  <%= @materia_prima.nome %>
	</p>
  </div>
</div>

<%= link_to 'Editar', edit_materia_prima_path(@materia_prima) %> |
<%= link_to 'Voltar', materia_primas_path %>
