<h1>Lista de Técnica Design</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Técnica Design</th>
    </tr>
  </thead>

  <tbody>
    <% @tecnica_designs.each do |tecnica_design| %>
      <tr>
        <td><%= tecnica_design.nome %></td>
        <td><%= link_to 'Mostrar', tecnica_design_path(tecnica_design) %></td>
        <td><%= link_to 'Editar', edit_tecnica_design_path(tecnica_design) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar técnica design', new_tecnica_design_path %>
