<h1>Técnica Design</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Descrição</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Tipo:</strong>
	  <%= @tecnica_design.nome %>
	</p>
  </div>
</div>

<%= link_to 'Editar', edit_tecnica_design_path(@tecnica_design) %> |
<%= link_to 'Voltar', tecnica_designs_path %>
