/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

br{
  clear:both;
}

.first-invisible{
  display:none;
}

.search-result-header{
  text-align:right;
}

.search-field{
  float:left;
  padding:5px;
}

.close-search-field{
  cursor:pointer;
}

.h-img-txt, .h-img-select, .h-img-multiselect {
  float: left; 
}

.h-img-txt {
  margin: 4px;
}

.h-img-select {
  margin: 6px 4px;
}

.h-img-multiselect {
  margin: 25px 4px;
}

.form-group > .tam-field {
  width: 240px;
  float: left;
}

.tam-search {
  width: 280px;
}
