<h1>Lista de Fabricantes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipo de Fabricante</th>
    </tr>
  </thead>

  <tbody>
    <% @fabricantes.each do |fabricante| %>
      <tr>
        <td><%= fabricante.nome %></td>
        <td><%= link_to 'Mostrar', fabricante_path(fabricante) %></td>
        <td><%= link_to 'Editar', edit_fabricante_path(fabricante) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar fabricante', new_fabricante_path %>
